<% layout('layout') -%>
<h1><%= title %></h1>
<div class="container_a">
<section class="shym-application"> 
    <form action="/create" method="post" accept-charset="utf-8">
    <label>First name:</label><input type="text" name="name" />
     <label> Last name:</label><input type="text" name="last_name" />
      <label>User name:</label><input type="text" name="user_name" />
      <button type="submit">Submit</button>
    </form>
  </section>
 
</div>



