<% layout('layout') -%>

   
<!--GALLERY STARTS HERE -->

  <section class='gallery'>
  
  
   <div class="home-caption">
                <div class="home-title">A Platform to download Free Photos</div>
                <div class="home-subtitle">Your-Plugin is a platform to download free Photos,Pictures,and Beautiful Pictures </div>
                <a href="#" class="btn btn-lg downloadbtn">Start Your Download</a>
            </div>
  
  
  
  </section>
  
  <!-- /GALLERY ENDS HERE -->
  <!-- OPTION STARTS HERE-->
  <section class='shym-option'>
  <div class='container'>
  <div class="row">
        <div  class="col-sm-4 shym-option-container">
          <span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-camera"></i></span>
          <h3 class="shym-text-uppercase"> Stylish Pictures</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
          <a href="#" title="">Read More</a>
        </div>
        
        <div  class="col-sm-4  shym-option-container">
          <span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-dashboard"></i></span>
          <h3 class="shym-text-uppercase">Magnificent Colors</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
          <a href="#" title="">Read More</a>
        </div>
        
        <div  class="col-sm-4  shym-option-container">
          <span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-eye"></i></span>
          <h3 class="shym-text-uppercase">Retina Ready</h3>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
          <a href="#" title="">Read More</a>
        </div>
      </div>
      <!-- /COLUMNS -->
    </div>
  </section>
    <!-- /OPTION ENDS HERE -->
	
<!--APPLICATION ENDS HERE -->
<section class='shym-application'>
<div class='container'>

<div class='row'>
<div class='col-xs-12 shym-application-data'>
<h2 class='shym-text-uppercase'>Perfect Application Support</h2>
</div>
</div>
<div class='row'>
<div class='col-xs-12 shym-application-data'>
<div class="apps">
                      <a href="#" data-scroll-reveal="wait 0.25s, then enter left and move 40px over 1s"><i class="fa fa-android"></i></a>
						<a href="#" data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s"><i class="fa fa-apple"></i></a>
						<a href="#" data-scroll-reveal="wait 0.25s, then enter bottom and move 40px over 1s"><i class="fa fa-windows"></i></a>
						<a href="#" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-css3"></i></a>
                    </div>
</div>

</div>



</div>

</section>
	
<!--/APPLICATION ENDS HERE-->	
	
<!--FEATURE STARTS HERE-->
<section class='shym-feature'>
<div class='container'>
<div class='row'>
<div class='col-sm-4 shym-feature-data'>

<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-support"></i></span>
</div>
<div class='col-xs-9'>
<h3>Support</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>
</div>

<div class='col-sm-4 shym-feature-data'>
<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-th"></i></span>
</div>
<div class='col-xs-9'>
<h3>Widgets</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>
</div>


<div class='col-sm-4'>
<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-laptop"></i></span>
</div>
<div class='col-xs-9'>
<h3>Responsive Design</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>

</div>


</div>

<!------------------------------------------------------------------------------------------ -->

<div class='row'>
<div class='col-sm-4 shym-feature-data'>

<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-bar-chart-o"></i></span>
</div>
<div class='col-xs-9'>
<h3>User Rating</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>
</div>

<div class='col-sm-4 shym-feature-data'>
<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-users"></i></span>
</div>
<div class='col-xs-9 '>
<h3>Top Users</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>
</div>


<div class='col-sm-4 shym-feature-data'>
<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-table"></i></span>
</div>
<div class='col-xs-9'>
<h3>Data Tables</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>

</div>


</div>

<!------------------------------------------------------------------------------------------ -->


<div class='row'>
<div class='col-sm-4  shym-feature-data'>

<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-book"></i></span>
</div>
<div class='col-xs-9 '>
<h3>Top Readers</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>
</div>

<div class='col-sm-4 shym-feature-data '>
<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-edit"></i></span>
</div>
<div class='col-xs-9'>
<h3>Top Authors</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>
</div>


<div class='col-sm-4 shym-feature-data '>
<div class='col-xs-3 fe-icon'>
<span data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" ><i class="fa fa-clock-o"></i></span>
</div>
<div class='col-xs-9'>
<h3>24h Support</h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has. </h3>
</div>

</div>


</div>

<!------------------------------------------------------------------------------------------ -->
</div>
</section>
<!--/FEATURE ENDS HERE -->

<!--SHYM-USER STARTS HERE -->
	
<section class='shym-user'>
<div class='container'>
<div class='shym-user-title' >
        <h3 class='shym-text-center shym-text-uppercase'>Best Pictures</h3>
        <hr>
        <p class='shym-text-center'>It is a long established fact that a reader will be distracted by the readable content.</p>
      </div>
      
      <!--======= SLIDER PART =========-->
      <div id="owl-team"> 
        
        <!--======= SLIDER PART =========-->
        <div class="team">
          <div class="img"> <img class="img-responsive" src="img/team-1.jpg" alt="" >
            <div class="over">
			<i class="fa fa-eye"></i>
              <div class="des"> <a href="#"></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.
                  
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="info">
            <h4>Lorum Ipsum</h4>
            <p>Price:25$</p>
            <hr>
            <div class="social_icons">
              <ul>
                <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a> </li>
                <li class="dribbble"> <a href="#."><i class="fa fa-dribbble"></i> </a> </li>
                <li class="googleplus"> <a href="#."><i class="fa fa-google"></i> </a> </li>
                <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a> </li>
                <li class="pinterest"> <a href="#."><i class="fa fa-pinterest"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
        
        <!--======= SLIDER PART =========-->
        <div class="team">
          <div class="img"> <img class="img-responsive" src="img/team-2.jpg" alt="" >
            <div class="over">
			<i class="fa fa-eye"></i>
              <div class="des"> <a href="#"></a>
              
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.
                  
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="info">
           <h4>Lorum Ipsum</h4>
            <p>Price:25$</p>
            <hr>
            <div class="social_icons">
              <ul>
                <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a> </li>
                <li class="dribbble"> <a href="#."><i class="fa fa-dribbble"></i> </a> </li>
                <li class="googleplus"> <a href="#."><i class="fa fa-google"></i> </a> </li>
                <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a> </li>
                <li class="pinterest"> <a href="#."><i class="fa fa-pinterest"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
        
        <!--======= SLIDER PART =========-->
        <div class="team">
          <div class="img"> <img class="img-responsive" src="img/team-3.jpg" alt="" >
            <div class="over">
              <i class="fa fa-eye"></i>
              <div class="des"> <a href="#"></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.
                  
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="info">
            <h4>Lorum Ipsum</h4>
            <p>Price:25$</p>
            <hr>
            <div class="social_icons">
              <ul>
                <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a> </li>
                <li class="dribbble"> <a href="#."><i class="fa fa-dribbble"></i> </a> </li>
                <li class="googleplus"> <a href="#."><i class="fa fa-google"></i> </a> </li>
                <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a> </li>
                <li class="pinterest"> <a href="#."><i class="fa fa-pinterest"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
        
        <!--======= SLIDER PART=========-->
        <div class="team">
          <div class="img"> <img class="img-responsive" src="img/team-4.jpg" alt="" >
            <div class="over">
              <i class="fa fa-eye"></i>
              <div class="des"> <a href="#"></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.
                  
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="info">
            <h4>Lorum Ipsum</h4>
            <p>Price:25$</p>
            <hr>
            <div class="social_icons">
              <ul>
                <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a> </li>
                <li class="dribbble"> <a href="#."><i class="fa fa-dribbble"></i> </a> </li>
                <li class="googleplus"> <a href="#."><i class="fa fa-google"></i> </a> </li>
                <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a> </li>
                <li class="pinterest"> <a href="#."><i class="fa fa-pinterest"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
		
		
        
        <!--======= SLIDER PART =========-->
        <div class="team">
          <div class="img"> <img class="img-responsive" src="img/team-1.jpg" alt="" >
            <div class="over">
              <i class="fa fa-eye"></i>
              <div class="des"> <a href="#"></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.
                  
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="info">
            <h4>Lorum Ipsum</h4>
            <p>Price:25$</p>
            <hr>
            <div class="social_icons">
              <ul>
                <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a> </li>
                <li class="dribbble"> <a href="#."><i class="fa fa-dribbble"></i> </a> </li>
                <li class="googleplus"> <a href="#."><i class="fa fa-google"></i> </a> </li>
                <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a> </li>
                <li class="pinterest"> <a href="#."><i class="fa fa-pinterest"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
		
		<!--======= SLIDER PART =========-->
        <div class="team">
          <div class="img"> <img class="img-responsive" src="img/team-3.jpg" alt="" >
            <div class="over">
<i class="fa fa-eye"></i>
              <div class="des"> <a href="#"></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.
                  
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500 when an unknown printer.</p>
              </div>
            </div>
          </div>
          <div class="info">
            <h4>Lorum Ipsum</h4>
            <p>Price:25$</p>
            <hr>
            <div class="social_icons">
              <ul>
                <li class="facebook"> <a href="#."><i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#."><i class="fa fa-twitter"></i> </a> </li>
                <li class="dribbble"> <a href="#."><i class="fa fa-dribbble"></i> </a> </li>
                <li class="googleplus"> <a href="#."><i class="fa fa-google"></i> </a> </li>
                <li class="linkedin"> <a href="#."><i class="fa fa-linkedin"></i> </a> </li>
                <li class="pinterest"> <a href="#."><i class="fa fa-pinterest"></i> </a> </li>
              </ul>
            </div>
          </div>
        </div>
		
		
		
		
		
		
		
		
      </div>
</div>
</section>
	<!--/SHYM -USER ENDS HERE -->
<!--PICTURE INFORMATION STARTS HERE-->
<section class='picture-information'>
<div class='container'>
<div class='row'>
<div class='col-md-12 shym-text-center'>
<h3 class='shym-text-uppercase'>picture Information</h3> 
</div>


<div class='gap'>

</div>
<div class='col-md-12 col-sm-12 col-xs-12'>
<div class='col-sm-3 '>
<div class='picture-info' data-scroll-reveal="wait 0.25s, then enter right and move 40px over 1s">
<img src='img/item1.png'/>
<p>There are many variations of passages of Lorem Ipsum available, but the majority.There are many variations of passages of Lorem Ipsum available</p>
<div class="shym-overlay">
                            <div class="shym-picture-detail-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available,There are many variations of passages of Lorem Ipsum available but the majority</p>
                                <a href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
						</div>
</div>
<div class='col-sm-3 '>
<div class='picture-info' data-scroll-reveal="wait 0.25s, then enter left and move 40px over 1s">
<img src='img/item2.png'/>
<p>There are many variations of passages of Lorem Ipsum available, but the majority.There are many variations of passages of Lorem Ipsum available</p>
<div class="shym-overlay">
                            <div class="shym-picture-detail-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available but the majority</p>
                                <a href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
						</div>
</div>
<div class='col-sm-3'>
<div class='picture-info' data-scroll-reveal="wait 0.25s, then enter bottom and move 40px over 1s">
<img src='img/item3.png'/>
<p>There are many variations of passages of Lorem Ipsum available.There are many variations of passages of Lorem Ipsum available but the majority</p>
<div class="shym-overlay">
                            <div class="shym-picture-detail-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority.There are many variations of passages of Lorem Ipsum available</p>
                                <a href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
						</div>
</div>
<div class='col-sm-3'>
<div class='picture-info' data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s">
<img src='img/item4.png'/>
<p>There are many variations of passages of Lorem Ipsum available. There are many variations of passages of Lorem Ipsum available, but the majority</p>
<div class="shym-overlay">
                            <div class="shym-picture-detail-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a href="#" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
							</div>
</div>
</div>

</div>

</div>
</div>

</section>
<!--/PICTURE INFORMATION ENDS HERE -->

<!--QUOTE STARTS HERE -->
<section class='quote'>
<div class='container'>
<div class='row'>
<div class='col-md-12 col-sm-12 col-xs-12'>
<div class='col-sm-10 col-xs-10 pull-left'>
<h3 class='shym-text-left'>Have a question or need a custom quote?</h3>
<p class='shym-text-left' >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p></div><div class=' col-sm-2 '><button class='btn btn-warning pull-right ' style='margin-top:50px;'>Quote</button></div>
</div>
</div>
</div>
</section>
<!--/QUOTE ENDS HERE-->

