<!DOCTYPE html>
<html lang="en">
<head>
    <% include layout/head.ejs%>
</head>

<body>

<% include layout/header.ejs%>


<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->

<% include layout/footer.ejs%>

</body>
</html>